.contact {
  margin-top: 20px;
  padding: 5% 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_wrapper {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  border: 1px solid #ccc;
  border-radius: 20px;
  gap: 1rem;
}

.contact_right,
.contact_left {
  width: 50%;
}

.contact_left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
